# Julia Lesson
By Andrew Ma and Luke Miller

### What is Julia?
Julia is a high-level, high-perforamnce dyanmic programming language that looks like Ruby/Python syntax meets MatLab. It is meant to bridge the gap for mathematics and programming while also being very efficient at crunching numbers. Most of Julia's base library is written in Julia (woo metaprogramming).

In [1]:
# variable
x = 10
println(x)

# super hard math
y = x + 1
println(y)

# reassigning a variable
x = x + 1
println(x)

# unicode names
δ = 0.00001
println(δ)

안녕하세요 = "Hello"
println(안녕하세요)

10
11
11
1.0e-5
Hello

Stylistic Conventions:
- Names of variables are in lower case.
- Word separation can be indicated by underscores ('_'), but use of underscores is discouraged unless the name would be hard to read otherwise.
- Names of Types and Modules begin with a capital letter and word separation is shown with upper camel case instead of underscores.
- Names of functions and macros are in lower case, without underscores.
- Functions that write to their arguments have names that end in !. These are sometimes called “mutating” or “in-place” functions because they are intended to produce changes in their arguments after the function is called, not just return a value.

[Numeric Types](http://docs.julialang.org/en/stable/manual/integers-and-floating-point-numbers/)

In [2]:
# Overflow example
x = typemax(Int64)
println(x)
println(x+1)

9223372036854775807
-9223372036854775808

In [3]:
# Coefficients
x = 3
println(2x^2 - 3x + 1)
println(1.5x^2 - .5x + 1)
println(2^2x)

10
13.0
64

In [33]:
# Zero and One operators

println(zero(1.0))
println(one(0))

0.0
1

[Mathematical Operations](http://docs.julialang.org/en/stable/manual/mathematical-operations/)

In [5]:
# Char
a = 'a'
println(a)

# String
string = "I'm a string"
println(string)

a
I'm a string

In [6]:
# Functions
function e(x,y)
    x+y
end

function e2(x,y)
    x+y, x-y
end

f(x,y) = x + y
g = f 

∑(x,y) = x + y

println(e(1,2))
println(e2(1,2))
println(f(1,2))
println(g(1,2))
println(∑(1,2))

3
(3,-1)
3
3
3

In [7]:
# Functions continued
println(+(1, 2, 3))
h = +
println(h(1,2,3))

println(map(x -> x^2 + 2x - 1, [1,3,-1]))

bar(a,b,x...) = (a,b,x)
println(bar(1,2,3,4,5,6))

function optionalArg(x,y,z=0)
    x+y+z
end

println(optionalArg(1,2))
println(optionalArg(1,2,3))

6
6
[2,14,-2]
(1,2,(3,4,5,6))
3
6

In [8]:
# Scope
module A
a = 1 # a global in A's scope
end

module B
# b = a # would error as B's global scope is separate from A's
    module C
    c = 2
    end
b = C.c # can access the namespace of a nested global scope
        # through a qualified access
import A # makes module A available
d = A.a
# A.a = 2 # would error with: "ERROR: cannot assign variables in other modules"
end

B

In [9]:
# Method
k(x::Number, y::Number) = 2x - y;
println(k(1,2))

0

In [35]:
# Things with types and arrays

num = 12
println(typeof(num))
println(convert(UInt8, num))

numArray = Any[1 2 3; 4 5 6]
println(typeof(numArray))
println(numArray)
convert(Array{Float64}, numArray)

# Define your own conversion
import Base.convert
convert(::Type{Bool}, x::Real) = x==0 ? false : x==1 ? true : throw(InexactError())
println(convert(Bool, 1))
println(convert(Bool, 0))

Int64
12
Array{Any,2}
Any[1 2 3; 4 5 6]
true
false

WARNING: Method definition convert(Type{Bool}, Real) in module Base at bool.jl:6 overwritten in module Main at In[35]:12.

![Array methods](http://i.gyazo.com/029e6e3380e170f11b597c10e746601a.png)

In [11]:
# Generate random 4x4 array
randomArray = rand(4,4)

4×4 Array{Float64,2}:
 0.0210397  0.772      0.272983  0.903547
 0.258661   0.0306829  0.247616  0.0939524
 0.703423   0.0935685  0.710877  0.978762
 0.295974   0.623743   0.976451  0.263238

In [12]:
# Broadcasting allows for the easy element-by-element binary operation on arrays
broadcast(+, randomArray, randomArray)

4×4 Array{Float64,2}:
 0.0420794  1.544      0.545967  1.80709
 0.517321   0.0613659  0.495232  0.187905
 1.40685    0.187137   1.42175   1.95752
 0.591947   1.24749    1.9529    0.526475

### Why use Julia?
![alt tag](http://i.gyazo.com/7e6d4b7b87a2d80f8d48e688026b5e94.png)
Julia is fast! In the figure, the benchmarks times are relative to C, where C=1.0
You can even call C code directly if you need even more speed.

In [13]:
# Calling C code
t = ccall( (:clock, "libc"), Int32, ())
println(t)

path = ccall((:getenv, "libc"), Cstring, (Cstring,), "SHELL")
unsafe_string(path)

4726427

"/bin/bash"

Julia is designed for paralellization and does not impose any style of parallelization on its users.The following example demonstrates how to count the number of heads in a large number of coin tosses in parallel.

In [14]:
nheads = @parallel (+) for i=1:100000000
  rand(Bool)
end

49997268

In [15]:
@time nheads = @parallel (+) for i=1:100000000
  rand(Bool)
end

  1.934506 seconds (200.02 M allocations: 2.981 GB, 5.29% gc time)

50000828

### DataFrames

In [3]:
using DataFrames

In [12]:
# DataArray
dv = @data([NA, 3, 2, 5, 4])
println(mean(dv))

println(mean(dropna(dv)))

convert(Array, dropna(dv))

println(dv)

# converting na's
dv = @data([NA, 3, 2, 5, 4])
println(convert(Array, dv, 11))

NA
3.5
[NA,3,2,5,4]
[11,3,2,5,4]

In [24]:
df = DataFrame(A = 1:10, B = ["M", "F", "F", "M", "F", "M", "F", "F", "M", "M"])

10×2 DataFrames.DataFrame
│ Row │ A  │ B   │
├─────┼────┼─────┤
│ 1   │ 1  │ "M" │
│ 2   │ 2  │ "F" │
│ 3   │ 3  │ "F" │
│ 4   │ 4  │ "M" │
│ 5   │ 5  │ "F" │
│ 6   │ 6  │ "M" │
│ 7   │ 7  │ "F" │
│ 8   │ 8  │ "F" │
│ 9   │ 9  │ "M" │
│ 10  │ 10 │ "M" │

In [25]:
println(head(df))
println(tail(df))
println(df[1:3, :])

6×2 DataFrames.DataFrame
│ Row │ A │ B   │
├─────┼───┼─────┤
│ 1   │ 1 │ "M" │
│ 2   │ 2 │ "F" │
│ 3   │ 3 │ "F" │
│ 4   │ 4 │ "M" │
│ 5   │ 5 │ "F" │
│ 6   │ 6 │ "M" │
6×2 DataFrames.DataFrame
│ Row │ A  │ B   │
├─────┼────┼─────┤
│ 1   │ 5  │ "F" │
│ 2   │ 6  │ "M" │
│ 3   │ 7  │ "F" │
│ 4   │ 8  │ "F" │
│ 5   │ 9  │ "M" │
│ 6   │ 10 │ "M" │
3×2 DataFrames.DataFrame
│ Row │ A │ B   │
├─────┼───┼─────┤
│ 1   │ 1 │ "M" │
│ 2   │ 2 │ "F" │
│ 3   │ 3 │ "F" │

In [ ]:
describe(df)

In [28]:
println(mean(df[:A]))
println(median(df[:A]))

5.5
5.5

In [30]:
df2 = DataFrame(A = 1:4, B = randn(4))
println(df2)
colwise(cumsum, df2)

4×2 DataFrames.DataFrame
│ Row │ A │ B         │
├─────┼───┼───────────┤
│ 1   │ 1 │ 0.8485    │
│ 2   │ 2 │ 1.43304   │
│ 3   │ 3 │ 0.748859  │
│ 4   │ 4 │ -0.681222 │

2-element Array{Any,1}:
 DataArrays.DataArray{Int64,1}[[1,3,6,10]]
 DataArrays.DataArray{Float64,1}[[0.8485,2.28154,3.0304,2.34918]]

### Example

In [25]:
dataframe = readtable("train.csv")
head(dataframe)

6×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │

![alt-img](https://i.gyazo.com/52718ce716290c7bc07e26f2282ecc86.png)

In [26]:
dataframe[:familysize] = dataframe[:SibSp] + dataframe[:Parch]
head(dataframe)

6×13 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │

│ Row │ Embarked │ familysize │
├─────┼──────────┼────────────┤
│ 1   │ "S"      │ 1          │
│ 2   │ "C"      │ 1          │
│ 3   │ "S"      │ 0          │
│ 4   │ "S"      │ 1          │
│ 5   │ "S"      │ 0          │
│ 6   │ "Q"      │ 0          │

In [28]:
dataframe[:Age] = convert(Array, dataframe[:Age], mean(dropna(dataframe[:Age])))
head(dataframe)

6×13 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │

│ Row │ Age     │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼─────────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0    │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0    │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0    │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0    │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0    │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ 29.6991 │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │

│ Row │ Embarked │ familysize │
├─────┼──────────┼────────────┤
│ 1   │ "S"      │ 1          │
│ 2   │ "C"      │ 1          │
│ 3   │ "S"      │ 0          │
│ 4   │ "S"      │ 1          │
│ 5   │ "S"      │ 0          │
│ 6   │ "Q"      │ 0          │

In [31]:
head(dataframe[dataframe[:Sex] .== "male", :])

6×13 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │ Name                             │
├─────┼─────────────┼──────────┼────────┼──────────────────────────────────┤
│ 1   │ 1           │ 0        │ 3      │ "Braund, Mr. Owen Harris"        │
│ 2   │ 5           │ 0        │ 3      │ "Allen, Mr. William Henry"       │
│ 3   │ 6           │ 0        │ 3      │ "Moran, Mr. James"               │
│ 4   │ 7           │ 0        │ 1      │ "McCarthy, Mr. Timothy J"        │
│ 5   │ 8           │ 0        │ 3      │ "Palsson, Master. Gosta Leonard" │
│ 6   │ 13          │ 0        │ 3      │ "Saundercock, Mr. William Henry" │

│ Row │ Sex    │ Age     │ SibSp │ Parch │ Ticket      │ Fare    │ Cabin │
├─────┼────────┼─────────┼───────┼───────┼─────────────┼─────────┼───────┤
│ 1   │ "male" │ 22.0    │ 1     │ 0     │ "A/5 21171" │ 7.25    │ NA    │
│ 2   │ "male" │ 35.0    │ 0     │ 0     │ "373450"    │ 8.05    │ NA    │
│ 3   │ "male" │ 29.6991 │ 0     │ 0     │ "330877"    │ 8.4583  │ NA    │
│ 4   │ "male" │ 54.0    │ 0     │ 0     │ "17463"     │ 51.8625 │ "E46" │
│ 5   │ "male" │ 2.0     │ 3     │ 1     │ "349909"    │ 21.075  │ NA    │
│ 6   │ "male" │ 20.0    │ 0     │ 0     │ "A/5. 2151" │ 8.05    │ NA    │

│ Row │ Embarked │ familysize │
├─────┼──────────┼────────────┤
│ 1   │ "S"      │ 1          │
│ 2   │ "S"      │ 0          │
│ 3   │ "Q"      │ 0          │
│ 4   │ "S"      │ 0          │
│ 5   │ "S"      │ 4          │
│ 6   │ "S"      │ 0          │

### Accessing available public classic datasets

In [32]:
using RDatasets
iris = dataset("datasets", "iris")
head(iris)

INFO: Precompiling module RData.

6×5 DataFrames.DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species  │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ "setosa" │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ "setosa" │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ "setosa" │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ "setosa" │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ "setosa" │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ "setosa" │